# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cpp.d
*.px4
*.bin
*.tlog
*.tlog.raw

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
